@import "utils";

$block-name: "b-test";

.#{$block-name} {
	width: 300px;
	background-color: #eee;
	border: 3px dotted #000555;
	border-radius: 1rem;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	margin: auto;

	&__title {
		font-weight: 600;
	}

	&__first {
		font-style: italic;
	}

	&__second {
		font-size: 0.8rem;

		&:hover {
			color: #841844;
			font-style: italic;
			font-weight: 800;
			font-size: 1.5rem;
		}
	}
}
